*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


img{
  vertical-align: middle;
}


html,body{
  width: 100%;
  height: 1500px;
}


.head{
  width: 100%;
  height: 82px;
}


.gs{
  width: 100%;
  height: 72px;
  background: #f6f8fb;
  position: sticky;
  opacity: 0.7;
  top:0;

  .ct{
    width: 1240px;
    height: 72px;
    margin: 0 auto;
    h3{
      line-height: 72px;
      float: left;
      font-size: 25px;
    }
    ul{
      float: right;
      li{
        line-height: 72px;
        margin-left: 18px;;
        float: left;
        font-size: 13px;
        color: #333333;
      }
      .l{
        font-size:21px;
        color:#dedede;
      }
    }
  }

}


.dt{
  width: 1240px;
  height: 1152px;
  margin: 0 auto;
  overflow: hidden;
  .dm{
    width:594px;
    height: 1100px;
    float: left;
    padding-top: 52px;



    .ctx{


        .x1{
          display: none;

              .imk{
                width: 594px;
                height: 470px;
                text-align: center;
                overflow: hidden;
              

                .imk1{
                  display: inline-block;
                }
                .imk2{
                  display:none;
                }
                .imk3{
                  display: none;
                }
                .imk4{
                  display:none;
                }
              }

              .imq{
                width:465px;
                height:74px;
                margin-left: 60px;
                overflow: hidden;
                .ct{
                  width: 600px;
                  height: 74px;
                    div{
                      float: left;
                      width:81px;
                      height: 74px;
                      margin-right: 45px;

                    }
                  }
              }
             
        }


        .x2{
       

   
          .imk{
            width: 594px;
            height: 470px;
            text-align: center;
            overflow: hidden;
          

            .imk1{
              display: inline-block;
            }
            .imk2{
              display:none;
            }
            .imk3{
              display: none;
            }
            .imk4{
              display:none;
            }
          }

          .imq{
            width:465px;
            height:74px;
            margin-left: 60px;
            overflow: hidden;
            .ct{
              width: 600px;
              height: 74px;
                div{
                  float: left;
                  width:81px;
                  height: 74px;
                  margin-right: 45px;

                }
              }
          }
    }



        .x3{
          
          display: none;

          .imk{
            width: 594px;
            height: 470px;
            text-align: center;
            overflow: hidden;
          

            .imk1{
              display: inline-block;
            }
            .imk2{
              display:none;
            }
            .imk3{
              display: none;
            }
            .imk4{
              display:none;
            }
          }

          .imq{
            width:465px;
            height:74px;
            margin-left: 60px;
            overflow: hidden;
            .ct{
              width: 600px;
              height: 74px;
                div{
                  float: left;
                  width:81px;
                  height: 74px;
                  margin-right: 45px;

                }
              }
          }
    }




    .x4{
      display: none;


      .imk{
        width: 594px;
        height: 470px;
        text-align: center;
        overflow: hidden;
      

        .imk1{
          display: inline-block;
        }
        .imk2{
          display:none;
        }
        .imk3{
          display: none;
        }
        .imk4{
          display:none;
        }
      }


      .imq{
        width:465px;
        height:74px;
        margin-left: 60px;
        overflow: hidden;
        .ct{
          width: 600px;
          height: 74px;
            div{
              float: left;
              width:81px;
              height: 74px;
              margin-right: 45px;

            }
          }
      }

      
}









  }






  }









  .dx{
    padding-top: 33px;
    width: 646px;
    height: 1119px;
    float: left;
   
   .sj{
      h2{
          font-size: 29px;
      }
      p{
        font-size: 12px;
        margin-top: 10px;
        color: #e22841;
      }
  }

    .gm{
      padding-top: 20px;
      width: 636px;
      height:112px;
      background: #f4f6fa;
      padding-left: 10px;
     
      h2{
        font-size: 28px;
        color: #e02b41;
      }



      .yj{
        width: 310px;
        height: 24px;
        font-size: 13px;
        margin-top: 15px;
        line-height: 24px;
        .btn1{
        width: 74px;
        height: 24px;
        background: #f2eaef;
        text-decoration: center;
        color:#e02b41
      }
      span{
        margin-left: 13px;
      }
      em{
        margin-left: 14px;
        color: #008cff;
      }
      
      }

      .jg{
        width: 364px;
        height: 24px;
        font-size: 13px;
        margin-top: 12px;
        line-height: 24px;
        .btn2{
        width: 74px;
        height: 24px;
        background: #f2eaef;
        text-decoration: center;
       
        color:#e02b41
      }
      span{
        margin-left: 13px;
      }
      em{
        margin-left: 12px;
        color: #008cff;
      }
      
      }


 
    }
    .list{
      width: 646px;
      height: 1225px;
      .d1{
        width:646px;
        height: 55px;
        font-size: 11px;
        line-height: 55px;
        color: #8c8c8c;
         .t1{
           display: inline-block;
           width: 65px;
           em{
             display: inline-block;
             width:24px;
           }
         }
        .sf{
          margin-right: 20px;
          b{
            display: inline-block;
            width: 17px;
            height: 16px;
            border:1px solid #595959;
            border-radius: 50%;
            text-align: center;
            line-height: 16px;
            color: #696b94;
          }
        }
      }










      .d2{
        width: 646px;
        height:62px;
        .t2{
          font-size: 11px;
          color: #8c8c8c;
          display: inline-block;
          width: 65px;
        }
        .adr{
          font-size: 13px;;
        }
        .intro{
          margin-left: 65px;;
          font-size: 11px;
          color: #8c8c8c;
        }
        .shop{
          margin-left: 10px;
          color: #849aff;
        }
      }





      .d3{
        width: 646px;
        height: 136px;
        
        .t3{
          padding-top: 36px;
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 100px;
        }
        .ct{
          width:100%px;
          height: 116px;
          padding-top: 20px;
          div{
            text-align: center;
            line-height: 42px;
            float: left;
            width: 177px;
            height: 42px;
            margin-right: 10px;
            border:1px solid #f2f2f2;
            color: #595959;
            font-size: 12px;
          }
          .t1{
            border: 1px solid #000000;
            color:#000000; 
          }


          .f4{
            margin-top: 10px;
          }
      }
      }





      .d4{
        width: 646px;
        height: 45px;
        .t4{
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 45px;
          line-height: 45px;
        }
        div{
          text-align: center;
          line-height: 45px;
          float: left;
          width: 177px;
          height: 42px;
          margin-right: 10px;
          border: 1px solid #000000;
          color:#000000; 
          font-size: 12px;
        }
      }




      .d5{
        width: 646px;
        height: 135px;
        .t5{
          padding-top: 33px;
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 102px;
        }
        .ct{
          width:100%px;
          height: 116px;
          padding-top: 20px;
          div{
            text-align: center;
            line-height: 42px;
            float: left;
            width: 177px;
            height: 42px;
            margin-right: 10px;
            border:1px solid #f2f2f2;
            color: #595959;
            font-size: 12px;
            img{
    
              width: 22px;
              height: 28px;
            }
          }
          .f4{
            margin-top: 10px;
          }
      }


      }




      .d6{
        width: 646px;
        height: 45px;
        .t6{
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          line-height: 45px;
          width: 65px;
          height: 45px;
        }
        div{
          text-align: center;
          line-height: 42px;
          float: left;
          width: 177px;
          height: 42px;
          margin-right: 10px;
          border:1px solid #f2f2f2;
          color: #595959;
          font-size: 12px;
        }
      }



      .d7{
        width: 646px;
        height: 115px;
        .t7{
          padding-top: 35px;
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 80px;
          overflow: hidden;
        }
        .ct{
          width:100%px;
          height: 122px;
          padding-top: 14px;
          div{
            text-align: center;
            line-height: 42px;
            float: left;
            width: 177px;
            height: 42px;
            margin-right: 10px;
            border:1px solid #f2f2f2;
            color: #595959;
            font-size: 12px;
            span{
              font-size: 10px;
              font-weight: 700px;
              color:#f87cb6
            }
          }
          .f4{
            margin-top: 10px;
          }
      }
        
      }




      .d8{
        padding: 0;
        margin: 0;
        width: 646px;
        height: 95px;
        .t8{
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 95px;
          line-height: 95px;
        }


        div{
          text-align: center;
          float: left;
          width: 177px;
          height: 83px;
          margin-right: 10px;
          border:1px solid #f2f2f2;
          color: #595959;
          font-size: 12px;
          padding-top: 10px;
          span{
            font-size: 12px;
            color: #595959;
          }
          p{
            margin-top: 11px;
            color: #d2ab8c;
            font-size: 11px;
          }
        }



        

      }



      .d9{
        margin-top: 20px;
        width: 646px;
        height:40px;
     
        .t9{
          font-size: 11px;
          color: #8c8c8c;
          float: left;
          width: 65px;
          height: 40px;
          line-height: 40px;
          em{
            display: inline-block;
            width:24px;
          }
        }



      .sl{
        width: 119px;
        height: 42px;
        border: 1px solid #bfbfbf;
        float: left;
        text-align: center;
        line-height: 42px;
        font-size: 9px;
        .s1{
          width: 30px;
          height: 42px;
          float: left;
          background: #f7f7f7;
          line-height: 42px;
          text-align: center;
          font-size: 7px;
          color: #e0e0e0;
        }
        .s2{
          width: 30px;
          height: 42px;
          float: right;
          background: #f7f7f7;
          line-height: 42px;
          text-align: center;
          font-size: 7px;
          color:#000000;
        }
        .z{
          width: 55px;
          height: 42px;
          float: left;
          text-align: center;
          line-height: 42px;
          font-size: 9px;
        }
      }



      }


     .d10{
      margin-top: 46px;
      width: 646px;
      height: 56px;
      div{
        text-align: center;
        float: left;
        width: 209px;
        height: 56px;
        border: 1px solid #008cff;
        margin-right: 23px;
        line-height: 56px;
        font-size: 16px;
      }


      .lj{
        color: #ffffff;
        background: #008cff;
      }

      .jr{
        color: #00abff;
      }


     }





    }





 
  }
  






}



.fft{
  width: 100%;
  height:250px;
}
